

.title {
    margin-left: 2%;
    width: 20%;
    padding-top: 1.5%;
}
#filter {
    display: flex;
    margin: 2% 0%;
    padding-left: 1.6%;
}

#filter li {
    list-style-type: none;
    margin: 0 1.5% 0 0;
    padding: 0.8% 1.6%;
    background-color: var(--container-highlight-color);
    border-radius: calc(8px + 0.4vw);
    transition: all 0.2s ease-out;
}

#filter li:hover {
    cursor: pointer;
    background-color: var(--button-highlight-color);
}

#filter a {
    text-decoration: none;
    color: var(--text-color);
    font-size: calc(5px + 0.8vw);
}

#projects-list {
    padding-left: 1.6%;
}

#projects-list li {
    list-style-type: none;
    margin: 0 0 2% 0;
    padding: 0;

}

#projects-list div {
    background-color: var(--body-color);
    margin: 0 3.45% 0 0;
    padding: 2%;
    border-radius: calc(8px + 0.4vw);
    border: 4px solid var(--container-highlight-color);
    transition: all 0.2s ease-out;
}

#projects-list div:hover {
    border: 4px solid var(--button-highlight-color);
}

#projects-list .has-redirect:hover {
    background-color: var(--container-highlight-color);
    cursor: pointer;
}

#projects-list .project-tags {
    font-size: calc(8px + 0.4vw);
    display: flex;
    margin: 1% 0 1% 0;
    flex-wrap: wrap;
    padding: 0;
}

#projects-list .project-tags li {
    margin: 0 1% 0 0;
    padding: 0.2% 1%;
    background-color: var(--container-highlight-color);
    border-radius: calc(8px + 0.4vw);
}

.projects-content{
    width: 100%;
    padding: 0%;
}