:root {
    --max-width: min(1000px, 90vw);
    --base-color: #343738;
    --border-color: #595F61;
    --highlight-color: hsl(5, 68%, 54%);
    --dark-highlight-color: hsl(5, 68%, 48%)
}

.size-warning {
    background-color: var(--highlight-color);
    margin-top: 40px;
    padding: 20px 15px;
    width: var(--max-width);
    border-radius: 12px;
    font-size: 1.4em;
    display: flex;
    gap: 5px;
    box-sizing: border-box;
}

.size-warning svg{
    align-self: center;

}


#navbar {
    position: fixed;
    width: calc(100% - 40px);
    top: 22px;
    left: 20px;
    border-radius: 12px;
    border-bottom: 1px solid #595F61;
    border-image: linear-gradient(to right, #34373800 0%, #595F61ff 50%, #34373800 100%);
    border-image-slice: 1;
    background: rgba(48, 51, 52, 0.80);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    /* margin: 12px 22px; */
    align-items: center;
    z-index: 100;
    overflow-x: auto;
}

.navbar-item:last-child {
    margin-right: 20px;
}

.navbar-item {
    white-space: nowrap;
}

.page-navigation {
    display: flex;
    gap: 40px;
}

.social-media a {
    height: fit-content;
    display: flex;
    align-items: center;
    padding-top: 5px;
}

#navbar a {
    position: relative;
    color: #eef1f2;
    text-decoration: none;
    font-size: 1.5rem;
    transition: all 0.2s;
    display: inline-block; 
}

#navbar a:hover {
    color: #D9483B;

}

.navbar-item a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px; /* Control the thickness of the underline here */
    bottom: 0; /* Adjust the position from the bottom of the anchor */
    left: 0;
    background-color: #eef1f2; /* Color of the underline */
    transition: opacity 0.2s ease-in-out; /* Adjust the animation speed and style */
    opacity: 0
}

#navbar a.navbar-active::before {
    opacity: 1;
}

.navbar-active {
    color: #D9483B; /* Optional: Change color on hover/active */
}

.bg-hidden {
    opacity: 0 !important;
}



/* #introduction::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./assets/20240117_172940.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; 
    z-index: -1; 
} 

*/

/* #introduction:hover::before {
    opacity: 1;
} */

.section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container {
    width: var(--max-width);
    /* padding-top: 20px; */
    padding-bottom: 15px;
}

.title {
    font-size: 2.5rem;
}

.title h1{
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    gap:20px;
    position: relative;
    z-index: 1;
}

.small-text-content-container {
    flex: 1;
    background-color: hsla(195, 4%, 20%, 80%);
    border: 1px solid #595F61;
    padding: 20px;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    line-height: 1.3;
    font-size: 1.2rem;
}

.image-credit {
    opacity: 0.6;
    font-size: 0.8rem;
    margin-top: 65px;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit:cover;
}

.small-image-content-container {
    flex: 1;
    background-color: hsla(195, 4%, 20%, 80%);
    border: 1px solid #595F61;
    padding: 10px;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    line-height: 1.3;
    font-size: 1.2rem;
}


.text-content-container {
    background-color: hsla(195, 4%, 20%, 80%);
    border: 1px solid #595F61;
    padding: 20px;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    margin-bottom: 20px;
}

.item-header {
    margin: 0;
    font-size: 2rem;
}

.item-subtitle {
    display: flex;
    justify-content: space-between;
}

.item-date {
    font-weight: lighter;
}

.item-title {
    font-weight: 600;
}

.item-description ul {
    margin:0;
    padding-left: 20px;
}

.item-description ul li {
    margin-bottom: 8px; /* Adjust the value as needed */
}


.simple {
    background-color: hsl(195, 4%, 20%);
    backdrop-filter: none !important;
}

