:root {
    --max-width: min(1000px, 90vw);
    --base-color: hsl(195, 4%, 21%);
    --border-color: #595F61;
    --highlight-color: hsl(5, 68%, 54%);
    --dark-highlight-color: hsl(5, 68%, 48%);
}

.size-warning {
    background-color: var(--highlight-color);
    margin-top: 40px;
    padding: 20px 15px;
    width: var(--max-width);
    border-radius: 12px;
    font-size: 1.4em;
    display: flex;
    gap: 5px;
    box-sizing: border-box;
}

.size-warning svg {
    align-self: center;

}

.navbar {
    position: fixed;
    width: calc(100% - 40px);
    top: 22px;
    left: 20px;
    border-radius: 12px;
    border-bottom: 1px solid #595F61;
    border-image: linear-gradient(to right, #34373800 0%, #595F61ff 50%, #34373800 100%);
    border-image-slice: 1;
    background: rgba(48, 51, 52, 0.80);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    /* margin: 12px 22px; */
    align-items: center;
    z-index: 100;
    overflow-x: auto;
    transition: all 0.2s ease-in-out;
}

.navbar-item:last-child {
    margin-right: 20px;
}

.navbar-item {
    white-space: nowrap;
}

.page-navigation {
    display: flex;
    gap: 25px;
    transition: gap 0.2s ease-in-out;
}

.social-media a {
    height: fit-content;
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.navbar a {
    position: relative;
    color: #eef1f2;
    text-decoration: none;
    font-size: 1.5rem;
    transition: all 0.2s;
    display: inline-block;
}

.navbar a:hover {
    color: #D9483B;

}

.navbar-item a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eef1f2;
    transition: opacity 0.2s ease-in-out;
    opacity: 0
}

.navbar a.navbar-active::before {
    opacity: 1;
}

#collapsed {
    /* border-radius: 0px 0px 12px 12px; */
    border-radius: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
}

@media screen and (max-height: 600px) {
    #collapsed {
        padding: 8px 20px 6px 20px;
    }

    #collapsed a {
        font-size: 1.2rem;
    }
}

#collapsed .page-navigation {
    gap: 30px;
}


.bg-hidden {
    opacity: 0 !important;
}



/* #introduction::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./assets/20240117_172940.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; 
    z-index: -1; 
} 

*/

/* #introduction:hover::before {
    opacity: 1;
} */

.section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: var(--max-width);
    padding-bottom: 15px;
    box-sizing: border-box;
    margin: 0 auto;
}

.spacer {
    height: 20px;
}

.title {
    font-size: 2.5rem;
}

.title h1 {
    margin-bottom: 20px;
}

.subtitle {
    font-size: 2.5rem;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: relative;
    z-index: 1;
    flex-wrap: wrap;
}

.full-content {
    height: 70vh;
    overflow: auto;
    border-radius: 12px;
    padding-right: 6px;
    -webkit-overflow-scrolling: touch;
}

.full-content::-webkit-scrollbar {
    border-radius: 12px;
    background: var(--base-color);
}

.full-content::-webkit-scrollbar-thumb {
    background: var(--highlight-color);
    /* Color of the scrollbar thumb */
    border-radius: 12px;
    border: 2px solid var(--base-color);
    transition: all 0.2s ease;
}

.small-text-content-container {
    flex: 1;
    background-color: hsla(195, 4%, 20%, 80%);
    border: 1px solid #595F61;
    padding: 20px;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    line-height: 1.3;
    font-size: 1.2rem;
}

.image-credit {
    opacity: 0.6;
    font-size: 0.8rem;
    margin-top: 65px;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
}

.small-image-content-container {
    flex: 1;
    background-color: hsla(195, 4%, 20%, 80%);
    border: 1px solid #595F61;
    padding: 10px;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    line-height: 1.3;
    font-size: 1.2rem;
}


.text-content-container {
    background-color: hsla(195, 4%, 20%, 80%);
    border: 1px solid #595F61;
    padding: 20px;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    margin-bottom: 20px;
}

.item-header {
    margin: 0;
    font-size: 2rem;
}

.item-subtitle {
    display: flex;
    justify-content: space-between;
}

.item-date {
    font-weight: lighter;
}

.item-title {
    font-weight: 600;
}

.item-description ul {
    margin: 0;
    padding-left: 20px;
}

.item-description ul li {
    margin-bottom: 8px;
    /* Adjust the value as needed */
}

.item-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 5px;
}

.tag-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 5px;
}

.tag {
    background-color: var(--border-color);
    border: none;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 0.8rem;
    color: inherit;
    opacity: 0.8;
}

.All-tag {
    visibility: hidden;
}

.simple {
    background-color: hsl(195, 4%, 20%);
    backdrop-filter: none !important;
}

/* Hamburger menu styles */
.hamburger-menu {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #eef1f2;
}

/* Desktop and mobile navigation containers */
.desktop-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.mobile-nav {
    display: none;
}

.social-media {
    display: flex;
    gap: 15px;
    margin-left: 0;
}

/* Mobile Responsive Styles */
@media screen and (max-width: 900px) {
    /* Mobile navigation styles (navbar only) */
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
        width: 100%;
        transition: all 0.3s ease-in-out;
        overflow-y: hidden;
    }

    .hamburger-menu {
        display: block;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 12px 20px;
        transition: all 0.3s ease-in-out;
        box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.7);
    }

    .navbar-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .mobile-expanded {
        height: auto;
        max-height: 85vh;
        border-radius: 0px 0px 12px 12px !important;
    }

    .mobile-nav .page-navigation {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        flex-direction: column;
        margin-top: 0;
        visibility: hidden;
        max-height: 0;
        transition: all 0.3s ease-in-out;
        opacity: 0;
        gap: 15px !important;
        padding-left: 12px;
        border-left: 2px solid #eef1f2bc;
    }

    .mobile-menu-open {
        visibility: visible !important;
        max-height: 85vh !important;
        margin-top: 15px !important;
        margin-bottom: 10px !important;
        opacity: 1 !important;
    }

    .navbar-item {
        font-weight: bold;
    }

    .navbar-item:last-child {
        margin-bottom: 5px;
    }

    .social-media {
        margin-left: 0;
    }

    .navbar-active {
        margin-left: 5vw !important;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --max-width: 95vw;
    }

    .container {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .title {
        font-size: 2rem;
    }

    .content {
        flex-direction: column;
    }

    .small-text-content-container,
    .small-image-content-container,
    .text-content-container {
        width: 100%;
        margin-bottom: 15px;
        box-sizing: border-box;
    }

    .item-header {
        font-size: 1.5rem;
    }

    .item-subtitle {
        flex-direction: column;
        gap: 5px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 0 10px;
    }


    .title {
        font-size: 1.8rem;
    }

    .small-text-content-container,
    .small-image-content-container,
    .text-content-container {
        padding: 15px;
        font-size: 1rem;
    }
}