#projects {
    position: relative;
    transition: background-image 0.5s ease-in-out;
}

#projects .background {
    background-image: url('../assets/images/orion.jpeg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.project-item {
    transition: all 0.15s ease-in-out;
}

.project-item:last-child {
    margin-bottom: 0;
}

.project-item:hover {
    cursor: pointer;
    /* transform: scale(1.02); */
    border-color: #D9483B;
}

.filter {
    display: flex;
    padding: 10px 0px;
    gap: 10px;
    flex-wrap: wrap;
}

.filter button {
    background-color: hsla(195, 4%, 20%, 0.80);
    border: 1px solid var(--border-color);
    font-size: 1.2rem;
    color: inherit;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    backdrop-filter: blur(20px);
    transition: all 0.15s ease-in-out;
}

.filter button:hover {
    background-color: hsla(195, 4%, 20%, 0.60);
    cursor: pointer;
}

.filter button.active {
    background-color: hsla(5, 68%, 54%, 0.8);
    border: 1px solid var(--highlight-color);
}

.filter button.active:hover {
    background-color: hsla(5, 68%, 54%, 60%);
}

@media screen and (max-width: 768px) {
    #projects .full-content {
        height: 50vh;
    }

    .filter button {
        font-size: 1.1rem;
        padding: 8px 16px;
    }
}

@media screen and (max-width: 480px) {
    #projects .full-content {
        height: 40vh;
    }

    .filter {
        gap: 8px;
    }

    .filter button {
        font-size: 1rem;
        padding: 6px 12px;
    }
}