#publications {
    position: relative;
    transition: background-image 0.5s ease-in-out;
}

#publications .background {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url('../assets/images/danang.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.publication-item {
    line-height: 1.4;
}

.publication-item a {
    color: #eef1f2;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

.publication-item a:hover {
    color: var(--highlight-color);
}

.publication-item a .external-link-icon {
    margin-left: 0.35em;
    vertical-align: text-top;
}