html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #313435;
    background-color: #eef1f2;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.2s ease-out;
}

:root {
    --dark-color: rgba(49, 52, 53, 1);
    --light-color: rgba(238, 241, 242, 1);
    --light-nav-color: rgba(224, 227, 228, 0.8);
    --dark-nav-color: rgba(59, 62, 63, 0.8);
    --light-container-color: rgba(224, 227, 228, 1);
    --dark-container-color: rgba(59, 62, 63, 1);
    --light-nav-hover-color: rgba(200, 222, 216, 1);
    --dark-nav-hover-color: rgba(101, 112, 109, 1);
    --light-container-highlight-color: rgba(216, 240, 233, 1);
    --dark-container-highlight-color: rgba(101, 112, 109, 1);
    --light-button-highlight-color: rgba(193, 214, 208, 1);
    --dark-button-highlight-color: rgba(158, 176, 171, 1);
    --body-color: var(--light-color);
    --nav-color: var(--light-nav-color);
    --container-color: var(--light-container-color);
    --nav-hover-color: var(--light-nav-hover-color);
    --container-highlight-color: var(--light-container-highlight-color);
    --button-highlight-color: var(--light-button-highlight-color);
    --text-color: var(--dark-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-color: var(--dark-color);
        --nav-color: var(--dark-nav-color);
        --container-color: var(--dark-container-color);
        --nav-hover-color: var(--dark-nav-hover-color);
        --container-highlight-color: var(--dark-container-highlight-color);
        --button-highlight-color: var(--dark-button-highlight-color);
        --text-color: var(--light-color);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #303334;
        color: #eef1f2;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}


.navbar {
    transition: all 0.2s ease-out;
    backdrop-filter: blur(25px);
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    margin-top: 0;
    background-color: var(--nav-color);
}

.nav-item {
    margin-right: 10px;
    border-radius: 0.8vw;
    font-size: calc(10px + 1.1vw);
    padding: 0vw 1.2vw;
    transition: background-color 0.2s ease-in-out;
}

#nav-text {
    color: var(--text-color);
    text-decoration: none;
}

.nav-item:hover {
    background-color: var(--nav-hover-color);
}

#categories {
    margin: 10px 0px 20px 0px;
    background-color: var(--nav-color);
    padding: 3%;
    border-radius: calc(10px + 1.1vw);
}


#category-content {
    margin-top: 3%;
}



@media (min-width: 1200px) {
    #categories {
        border-radius: 32px;
    }

    h1 {
        font-size: 410%;
    }

    h2 {
        font-size: 300%;
    }

    h3 {
        font-size: 215%;
    }

    h4 {
        font-size: 177%;
    }

}

.content {
    margin-top: 5%;
    padding: 2%;
}

i {
    margin-right: 5px;
}

h1 {
    margin: 0;
    font-size: calc(18px + 4vw);
}

h2 {
    margin: 0;
    font-size: calc(16px + 2.6vw);
}

h3 {
    font-size: calc(14px + 1.7vw);
}

h4 {
    font-size: calc(12px + 1.35vw);
}

.about-container {
    display: flex;
}

.about-image {
    padding: 0;
    margin-right: 2%;
    flex: 1;
}

.about-image img {
    border-radius: calc(5px + 1.1vw);
}

.about-text {
    margin-left: 2%;
    flex: 1;
}

.about a {
    color: var(--text-color);
    text-decoration: none;
}

.about-button {
    border-radius: calc(6px + 0.6vw);
    border: 0;
    padding: 1% 2.5%;
    background-color: var(--container-highlight-color);;
    font-size: 1.8vw;
    width: fit-content;
    color: var(--text-color);
    transition: all 0.2s ease-out;

}


.about-button:hover {
    cursor: pointer;
    background-color: var(--button-highlight-color);
}

footer {
    padding: 2%;
    background-color: var(--container-highlight-color);
    bottom: 0;
    width: 100%;
    font-size: calc(4px + 0.8vw);
}

footer a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

footer a:hover {
    color: var(--button-highlight-color);
}

#socials {
    margin-left: 0.1%;
    margin-right: 1.5%;
}

.about-text p {
    font-size: 1.5vw;
}

.about-text h1 {
    margin-bottom: 2%;
}

.highlights {
    margin-top: 2%;
    padding: 2%;

}

.highlights-cards {
    display: flex;
    justify-content: space-around;
}

.highlights-title {
    padding-left: 2%;;
}

.highlights-container {
    margin-top: 2%;
    margin-bottom: 5%;
    background-color: var(--nav-color);
    border-radius: 2.3vw;
    width: 47%;
    /* Set width to match the image */
    padding: 1% 1% 0.8% 1%;
}

.highlights #left {
    transition: all 0.2s ease-out;
}

.highlights #right {
    transition: all 0.2s ease-out;
}

.highlights #left:hover,
.highlights #right:hover {
    /* Add shadow on hover */
    box-shadow: 0 0 10px rgba(101, 112, 109, 0.0),
        0 0 10px rgba(101, 112, 109, 0.5);
    /* adjust properties as needed */
    background-color: var(--container-highlight-color);
    transform: scale(1.005);
    cursor: pointer;
    /* shades from color.adobe.com: base: D8F0E9 */
}

.highlights-container img {
    border-radius: 1.5vw;
    width: 100%;
    height: 88%;
    object-fit: cover;
    /* Set width to 100% to fill container */
}

.highlights p {
    margin: 10px 2.2% 1px 2.2%;
    font-size: 2.0vw;
}

.highlights a {
    color: var(--text-color);
    text-decoration: none;
}